@model Zuehlke.Zmapp.WebApp.Models.SearchParamViewModel
@{
    ViewBag.Title = "Search";
}

<h3>Search for Employee</h3>

@using (Html.BeginForm("Result", "Search"))
{
    <fieldset>
        <legend>Search parameters</legend>
        <table>
 
            <tr>
                <td>
                    @Html.LabelFor(m => m.StartDate)
                </td>
                <td>
                    @Html.EditorFor(m => m.StartDate)
                    @Html.ValidationMessageFor(m => m.StartDate)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.EndDate)
                </td>
                <td>
                    @Html.EditorFor(m => m.EndDate)
                    @Html.ValidationMessageFor(m => m.EndDate)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.SelectedCareerLevels)
                </td>
                <td>
                    @Html.ListBoxFor(x => x.SelectedCareerLevels, (MultiSelectList)ViewData["CareerLevels"], new { size = ((MultiSelectList)ViewData["CareerLevels"]).Count() })
                    @Html.ValidationMessageFor(m => m.SelectedCareerLevels)
                </td>
            </tr>
            
            <tr>
                <td>
                    @Html.LabelFor(m => m.SelectedSkills)
                </td>
                <td>
                    @Html.ListBoxFor(x => x.SelectedSkills,(MultiSelectList)ViewData["Skills"], new { size = "6" })
                    @Html.ValidationMessageFor(m => m.SelectedSkills)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.SelectedCustomer)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.SelectedCustomer, (SelectList)ViewData["Customers"], "-- Please select a customer --")
                    @Html.ValidationMessageFor(m => m.SelectedCustomer)
                </td>
            </tr>
        </table>
 
        <input type="submit" value="Search" />
    </fieldset>
}
