@using Zuehlke.Zmapp.Services.Contracts.Employee
@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/Zmapp.Employee.js")"></script>
}

<h2>List of Employees</h2>

<table id="employeeTable">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    @* rows inserted by code *@
</table>
<button id="addEmployeeButton">Add Employee</button>
 
 <hr/>

<div id="details">
    <table>
        <tr>
            <td>First Name</td>
            <td id="employeeId"></td>
        </tr>    
        <tr>
            <td>First Name</td>
            <td><input type="text" id="firstName" /></td>
        </tr>    
        <tr>
            <td>Last Name</td>
            <td><input type="text" id="lastName" /></td>
        </tr>    
        <tr>
            <td>Street and Number</td>
            <td><input type="text" id="street" /></td>
        </tr>    
        <tr>
            <td>City</td>
            <td><input type="text" id="city" /></td>
        </tr>    
        <tr>
            <td>Zip-Code</td>
            <td><input type="text" id="zipCode" /></td>
        </tr>    
        <tr>
            <td>Career Level</td>
            <td>
                <p>
                    <select id="careerLevel">
                        @foreach (var value in Enum.GetValues(typeof(CareerLevel)).Cast<CareerLevel>())
                        {
                            <option value="@((int)value)">@value</option>
                        }
                    </select>
                </p>
            </td>
        </tr>    
        <tr>
            <td>Skills</td>
            <td>
                <div id="skills">
                    <p>
                        @foreach (var value in Enum.GetValues(typeof(Skill)).Cast<Skill>())
                        {
                            <input type="checkbox" name="skill" value="@((int)value)" />@(value)
                        }
                    </p>
                </div>
            </td>
        </tr>    
        <tr>
            <td>Reservations</td>
            <td>
                <div id="reservations">
                    <table id="reservationsTable">
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Customer</th>
                            <th> </th>
                        </tr>
                        @* rows inserted by code *@
                    </table>
                    <button id="addReservationButton">Add</button>
                </div>
            </td>
        </tr>
    </table>
    
    <hr/>

    <button id="editButton" type="submit">Edit</button>        
    <button id="saveButton" type="submit">Save</button>        
    <button id="cancelButton" type="submit">Cancel</button>        

</div>
